<html lang="fr">
<head>
  <meta charset="utf-8">
</head>


      Recherche Lycée Public: <input class="form-control" ng-model="query">
      
    <div class="col-md-10">
      <table class="tg">
          <tr>
              <th>ID</th>
              <th>Nom de l'établissement</th>
              <th>Adresse</th>
              <th>Téléphone</th>
              <th>Province</th>
              <th>Région</th>
          </tr>
          <tr ng-repeat="etab in etabs | filter:query | orderBy:orderProp">
            <td>{{etab.id_etab}}</td>
              <td>{{etab.nom_etab}}</td>
              <td>{{etab.nom_etab}}</td>
              <td>{{etab.tel}}</td>
              <td>{{etab.province}}</td>
              <td>{{etab.region}}</td>
          </tr>
      </table>

    </div>
  </div>
</div>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:5px 0px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
</style>


</html>